/* ==========================================================================
   Base Styles, Bootstrap Modifications & Fonts Import
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


::-moz-selection {
    background: #f2c2c9;
    color: #a4003a;
    text-shadow: none;
}

::selection {
    background: #16a085;
    color: #a4003a;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.centered {
	text-align: center
}

.mt {
	margin-top: 80px;
}

.mb {
	margin-bottom: 80px;
}

/* ==========================================================================
   General styles
   ========================================================================== */


body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
    color: #4a4a4a;
}


.navbar-brand {
	font-weight: 500;
}

.navbar-default .navbar-brand {
	color: #1abc9c;
}

.navbar-default {
	background-color: white;
	border-color: transparent;
    padding-top: 25px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: black;
	background-color: transparent;
    font-size: 16px;	
}

.navbar-default .navbar-nav > li > a {
	color: #1abc9c;
    font-size: 16px;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(../../images/kupatilo-kuhinja.jpg) no-repeat center top;
    margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1 {
    color:black;
   	padding-top: 20px;
	padding-bottom: 20px;
	font-weight: 700;
        
}

#headerwrap h2 {
	color:black;
	padding-top: none;
	padding-bottom: 20px;
	font-weight: 600;
}

#headerwrap h4 {
	font-weight: 600;
	color: black;
    
}

#social {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #f2f2f2;
}

#social i {
	font-size: 40px;
	color: #4a4a4a
}

#social i:hover {
	color: #1abc9c
}

#footerwrap {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #2f2f2f;

}

#footerwrap h2 {
	color: #f2f2f2;	
}

#footerwrap p {
	color: #f2f2f2;
	margin-left: 10px;
}

#footerwrap i {
	color:white
}

#workwrap {	
	background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(../../images/gips.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
       
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#workwrap h1 {
	color:black;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: 700;
    
}

#workwrap h2 {
    color: black;
	padding-top: none;
	padding-bottom: 20px;
	font-weight: 600;
    
}

#workwrap h4 {
	font-weight: 400;
	color: black;
    
}

#aboutwrap {	
	background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)), url(../../images/plocice.jpg) no-repeat center top;
	margin-top: -70px;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
      
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#aboutwrap h1 {
	color:black;
	padding-top: 30px;
	padding-bottom: 20px;
	font-weight: 700;
    
}

#aboutwrap h2 {
	color: black;
	padding-top: none;
	padding-bottom: 20px;
	font-weight: 600;
    
}

#aboutwrap h4 {
	font-weight: 400;
	color: black;
}



/* Gallery */
.gallery {
	margin-top: 30px;
}

.gallery img:hover {
	opacity: 0.4;
}



/* tz-Gallery */
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}

.tz-gallery {
    padding: 20px;
}

.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}


.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.tz-gallery img {
    border-radius: 4px;
}

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {
    body {
        padding: 0;
    }

    .container.gallery-container {
        border-radius: 0;
    }
}